@import "variables.scss";

.footerAppBar {
    flex-direction: row!important;
    justify-content: space-between;
    margin-top: 2rem;
    bottom: 0!important;
}

.MuiSvgIcon-root {
    color: $color-primary-green;
}