@import "variables.scss";

.MuiAppBar-root {
    background-color: $color-white!important;
    color: $color-primary!important;
    justify-content: center;
}

.MuiTypography-h5 {
    font-weight: 500!important;
    padding: .5rem 0;
}

.appBar {
    height: 6vh;
}