@import "variables.scss";

@media only screen and (max-width: 700px) {
    .MuiOutlinedInput-root {
        width: 100%!important;
    }
}

.MuiOutlinedInput-root {
    width: 35rem;
}

input {
    color: $color-white!important;
}

.MuiTextField-root {
    margin-top: 4rem!important;
}

.MuiOutlinedInput-notchedOutline {
    border: 2px solid $color-white!important;
}

.MuiFormLabel-root {
    color: $color-white!important;
}

#searchIcon .MuiIconButton-label .MuiSvgIcon-root {
    fill: $color-white!important;
}