@import "variables.scss";

.MuiOutlinedInput-root {
    width: 35rem;
}

.MuiTextField-root {
    margin-top: 4rem!important;
}

.MuiOutlinedInput-notchedOutline {
    border: 2px solid $color-primary-green!important;
}